<%- include('header_begn'); %>
<div class="container col-xxl-8 px-4 py-5">
    <h1 id="heading" class="text-center">About Us</h1>
    <hr>
    <h1 class="text-center">What is the scheme we are working on?</h1>
    <br>
    <h1 class="display-6"><b>Request:</b></h1>
    <p>In the application form, you leave us all the necessary information about the product you are interested in.</p>
    <hr>
    <h1 class="display-6"><b>Analysis</b></h1>
    <p>We find from 5-10 suppliers (We analyze the volume of production of the factory, prices and quality feedback from the factory.</p>
    <hr>
    <h1 class="display-6"><b>Logistics</b></h1>
    <p>Based on the method of purchasing the goods chosen by you and the required time for delivery of the goods to the destination, we select the most optimal delivery method, make a miscalculation in time and cost.</p>
    <hr>
    <h1 class="display-6"><b>Selection</b></h1>
    <p>We select the 3 most suitable factories from them in terms of quality, price and production time( we request samples or go to the factory for inspection.</p>
    <hr>
    <h1 class="display-6"><b>Quality control</b></h1>
    <p>By the end of production, we go to the factory to check the goods for compliance, identify the lack of defects, monitor the correct packaging of the goods and the application of the necessary marking.</p>
    <hr>
    <h1 class="display-6"><b>Commercial offer</b></h1>
    <p>Having collected all the necessary information, we compile a commercial offer with the inclusion of costs for logistics, and our commission.</p>
    <hr>
    <h1 class="display-6"><b>Sending the goods to the logistics warehouse</b></h1>
    <p>After receiving the remaining q for the goods, we send the goods to the warehouse of the logistics company or Cargo with which we cooperate.</p>
    <hr>
    <h1 class="display-6"><b>Customs clearance and preparation of documentation.</b></h1>
    <p>If the transaction is white, our brokers slow down the cargo and send the goods, if it is gray through Cargo, then there is no documentation.</p>
</div>
<%- include('header_end'); %>