<%- include('header_begn_ru'); %>
<div class="container col-xxl-8 px-4 py-5">
    <h1 id="heading" class="text-center">О нас</h1>
    <hr>
    <h1 class="text-center">По какой схеме мы работаем?</h1>
    <hr>
    <h1 class="display-6"><b>Запрос</b></h1>
    <p>В форме заявки вы оставляется нам всю необходимую информацию по интересующему товару.</p>
    <hr>
    <h1 class="display-6"><b>Анализ</b></h1>
    <p>Мы находим от 5-10 поставщиков (Анализируем масштабы фабрики, цены и качество обратной связи с фабрикой.</p>
    <hr>
    <h1 class="display-6"><b>Отбор</b></h1>
    <p>Oтбираем из них 3 самые подходящие фабрики по качеству, цене и срокам производства( запрашиваем образцы либо выезжаем на инспекцию на фабрику.)</p>
    <hr>
    <h1 class="display-6"><b>Логистика</b></h1>
    <p>Исходя из выбранного вами способа закупки товара и необходимого срока доставки товара до места назначения, Подбираем самый оптимальный способ доставки, делаем просчет по времени и стоимости.</p>
    <hr>
    <h1 class="display-6"><b>Контроль качества</b></h1>
    <p>К моменту окончания производства мы выезжаем на фабрику для проверки товара на соответствие, выявляем отсутсвие брака, следим за правильной упаковкой товара и нанесения нужной маркировки.</p>
    <hr>
    <h1 class="display-6"><b>Коммерческое предложение</b></h1>
    <p>Собрав все необходимую информацию мы составляем КП с включением растрат за логистику, и нашей комиссии.</p>
    <hr>
    <h1 class="display-6"><b>Отправка товара на склад логистов</b></h1>
    <p>После получения остатка ДС за товар, мы отправляем товар на склад логистической компании либо Карго, с которыми мы сотрудничаем.</p>
    <hr>
    <h1 class="display-6"><b>Таможенное оформление и подготовка всей необходимой документации</b></h1>
    <p>Если сделка в белую, наши брокеры затормаживают груз и отправляют товар, если в серую через Карго, то документации нет.</p>
</div>
<%- include('header_end_ru'); %>