<%- include('header_begn_tkm'); %>
<div class="container col-xxl-8 px-4 py-5">
    <h1 id="heading" class="text-center">Biz hakda</h1>
    <hr>
    <h1 class="text-center">Biziň işleýän shemamyz nähili?</h1>
    <hr>
    <h1 class="display-4"><b>Talap</b></h1>
    <p>Arza görnüşinde, gyzyklanma önümi barada bize zerur maglumatlary goýýarsyňyz.</p>
    <hr>
    <h1 class="display-4"><b>Derňew</b></h1>
    <p>5-10 üpjün edijiden tapýarys (Zawodyň göwrümini, bahalaryny we zawoddan gelýän pikirleriň hilini seljerýäris.)</p>
    <hr>
    <h1 class="display-4"><b>Saýlaw</b></h1>
    <p>Hil, baha we wagt taýdan iň amatly 3 zawody saýlaýarys önümçilik (nusgalary soraýarys ýa-da barlag üçin zawoda gidýäris.</p>
    <hr>
    <h1 class="display-4"><b>Logistika</b></h1>
    <p>Saýlan harytlaryňyzy satyn almagyň usulyna we harytlary ýerine eltip bermegiň zerur wagtyna esaslanyp, iň amatly wagtyny we bahasyny hasaplap eltiş usulyny saýlaýarys.</p>
    <hr>
    <h1 class="display-4"><b>Söwda teklibi</b></h1>
    <p>Ähli zerur maglumatlary ýygnap, logistika üçin çykdajylary we komissiýamyzy öz içine alýan täjirçilik teklibini taýýarlaýarys.</p>
    <hr>
    <h1 class="display-4"><b>Hil gözegçiligi</b></h1>
    <p>Önümçiligiň ahyryna çenli harytlaryň talaba laýyklygyny barlamak, kemçilikleriň ýoklugyny anyklamak, harytlaryň dogry gaplanyşyna gözegçilik etmek we zerur bellikleri ulanmak üçin zawoda gidýäris.</p>
    <hr>
    <h1 class="display-4"><b>Logistikaçylaryň ammaryna haryt ibermek</b></h1>
    <p>Harytlar üçin DS-iň galan bölegini alanymyzdan soň, harytlary hyzmatdaşlyk edýän logistika kompaniýasynyň ýa-da Kargo ammaryna iberýäris.</p>
    <hr>
    <h1 class="display-4"><b></b></h1>
    <p></p>
</div>
<%- include('header_end_tkm'); %>