<%- include('header_begn_tkm'); %>
<div class="stiffer">
    <h1 class="text-center">Son ýakynda!</h1>
    <img src="../imgs/Coming_soon.png" alt="coming soon" style="max-width: 500px; max-height: 300px;" class="rounded mx-auto d-block" >
</div>
<%- include('header_end_tkm'); %>