<%- include('header_begn_ru'); %>
<div class="stiffer">
    <h1 class="text-center">Скоро будет!</h1>
    <img src="../imgs/Coming_soon.png" alt="coming soon" style="max-width: 500px; max-height: 300px;" class="rounded mx-auto d-block" >
</div>
<%- include('header_end_ru'); %>