<%- include('header_begn_tkm'); %>
<div class="container col-xxl-8 px-4 py-5">
    <h1 id="heading" class="text-center">Salgylarymyz</h1>
    <hr>
    <p><b>Ofis telefon belgisi: </b> +8617758088827 </p>
    <p><b>Yhlas: </b> +8618072814161 </p>
    <p><b>Aman: </b>+8618268084545</p>
    <br>
    <h1 id="heading" class="text-center">Bizi Wechat-a goşuň</h1>
    <p> <b>Bizi şu telefon belgisi bilen goşuň: </b></p>
    <br>
    <p>+8617758088827</p>
    <br>
    <h1 id="heading" class="text-center">Email salgymyz</h1>
    <p> <b>menzil.trading@mail.ru</b></p>
</div>
<%- include('header_end_tkm'); %>