<%- include('header_begn_ru'); %>
<div class="container col-xxl-8 px-4 py-5">
    <h1 id="heading" class="text-center"> Услуги </h1>
    <hr>
<div class="feature col">
    <div class="starter">
        <i class="fas fa-search fa-2x" style="margin: 19%;"></i>
    </div>
    <h2 id="heading">Поиск товаров!</h2>
    <p>Мы поможем вам подобрать товары, наиболее подходящие для вашего запроса. Наша квалификация в этой сфере никогда не позволяла разочаровывать клиентов.</p>
  </div>
  <hr>
  <div class="feature col">
    <div class="starter">
        <i class="fas fa-dollar-sign fa-2x" style="margin: 19%; margin-left: 18px;"></i>
    </div>
    <h2 id="heading">Поиск оптимальных цен!</h2>
    <p>Наши покупатели всегда говорили, что у наших товаров очень доступная цена. Что всегда было доступно для наших клиентов!</p>
  </div>
  <hr>
  <div class="feature col">
    <div class="starter">
        <i class="fas fa-shopping-cart fa-2x" style="margin: 19%; margin-left: 7px;"></i>
    </div>
    <h2 id="heading">Закупка товаров!</h2>
    <p>Мы также предоставляем вам услугу покупки товара. Обсудим это в приватном чате!</p>
  </div>
  <hr>
  <div class="feature col">
    <div class="starter">
        <i class="fas fa-sort-amount-up fa-2x" style="margin: 19%;"></i>
    </div>
    <h2 id="heading">Инспекция заказов</h2>
    <p>Мы будем помогать нашим клиентам проверять их заказы и товары, а также их текущее состояние.</p>
  </div>
  <hr>
  <div class="feature col">
    <div class="starter">
        <i class="fas fa-dolly-flatbed fa-2x" style="margin: 19%; margin-left: 5px"></i>
    </div>
    <h2 id="heading">Перевозка грузов из Китая</h2>
    <p> Мы также предлагаем услуги по доставке, такие как доставка товаров из Китая по всему миру!</p>
  </div>
  <hr>
</div>
<%- include('header_end_ru'); %>

